@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f5f7;
    margin: 0;
}

.navbar {
    margin-bottom: 20px;
}

h1 {
    font-weight: 600;
    color: #333;
}
p{
    text-align: justify;
}

.achievement-card {
    transition: transform 0.2s ease-in-out, box-shadow 0.4s ease-in-out;
    border-radius: 15px;
}

.achievement-card:hover {
    
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

.card-img-top {
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 500;
}

.card-text {
    font-size: 0.9rem;
    color: #666;
}

footer {
    background-color: #fff;
    border-top: 1px solid #eaeaea;
}
